.container {
  padding: $padding;
  position: relative;
  height: inherit;
  width: 50%;
  margin: 40px auto;
  flex: 1;
  
  .section {
    height: inherit;
      &-cards {
          display: flex;
          flex-wrap: wrap; /* Permitir que las cartas se envuelvan */
          justify-content: space-evenly;
          align-items: flex-start; /* Alinear al inicio */
          gap: 25px; /* Espacio entre las cartas */
      }
  }
}



@media (max-width: 886px){
  .card {
    height: 470px;
    width: 300px; /* Ancho estándar para las cartas */
    border-radius: 20px;
    background-color: $bg-card;
    box-shadow: 10px 5px 0 rgb(27, 27, 27);
    transition: all $transition-time ease-in;
  
    img {
        width: 100%; /* Ancho completo */
        border-radius: 20px; /* Bordes redondeados en la imagen */
    }
  
    &-buttons {
        display: flex;
        justify-content: center; /* Centrar el botón */
        align-items: center;
    }
  
    &:hover {
        transform: translate(0, -30px);
    }
  }

}
