// principals vars

$text-color: black;

// buttons

// primary button
$bg-primary: rgb(38, 38, 230);
$bg-primary-hover: rgb(90, 90, 255);
$btn-primary-color: white;
$btn-primary-color-hover: black;
// secondary button
$bg-secondary: rgb(197,197,197);
$bg-secondary-hover: rgb(255, 255, 255);
$btn-secondary-color: black;
$btn-secondary-color-hover: black;

//Cards
$bg-card: rgb(228, 228, 228);



